<div class="cond_calc__header">
<h2>Расчет мощности кондиционера</h2>
</div>

<form class="cond_calc__form" action="/">
<label for="">Тип помещения:</label>
<select name="" id="">
    <option value="1" selected>Жилое</option>
    <option value="2">Офис</option>
    <option value="3">Промышленное</option>
</select>
<label for="">Площадь помещения, м2:</label><input type="text">
<label for="">Высота потолка, м:</label><input type="text">
<label for="">Ориентация окон:</label>
<select name="" id="">
    <option value="1" selected>Север</option>
    <option value="2">Юг</option>
    <option value="3">Запад</option>
    <option value="4">Восток</option>
</select>
<label for="">Количество компьтеров/оргтехники:</label><input type="text">
<label for="">Количество людей в помещении:</label><input type="text">

    <form>