<section class="steps" id="cond_steps">
    <div class="container-fulid">
        <div class="row no-gutters">
            <div class="steps__wrapper">
                <div class="steps__header">
                    <h2>Этапы монтажа системы кондиционирования</h2>
                </div>

                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <ul class="steps__timeline">
                        <li class="steps__timeline-item period">
                            <div class="steps__timeline-info"></div>
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h2 class="steps__timeline-title">Первый этап</h2>
                            </div>
                        </li>
                        <li class="steps__timeline-item">
                            
                            <!-- <div class="steps__timeline-info">
                                <span>March 12, 2016</span>
                            </div> -->
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h3 class="steps__timeline-title">Выбор места установки кондиционера</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                                    eu pede mollis pretium. Pellentesque ut neque.</p>
                            </div>
                        </li>
                        <li class="steps__timeline-item">
                            <!-- <div class="steps__timeline-info">
                                <span>March 23, 2016</span>
                            </div> -->
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h3 class="steps__timeline-title">Монтаж наружного блока</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                                    eu pede mollis pretium. Pellentesque ut neque. </p>
                            </div>
                        </li>
                        <li class="steps__timeline-item">
                            <!-- <div class="steps__timeline-info">
                                <span>March 23, 2016</span>
                            </div> -->
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h3 class="steps__timeline-title">Изготовление необходимых отверстий в перекрытиях</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                                    eu pede mollis pretium. Pellentesque ut neque. </p>
                            </div>
                        </li>
                        <li class="steps__timeline-item">
                            <!-- <div class="steps__timeline-info">
                                <span>March 23, 2016</span>
                            </div> -->
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h3 class="steps__timeline-title">Прокладка фреонопровода, силового и межблочного кабеля, дренажной системы</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                                    eu pede mollis pretium. Pellentesque ut neque. </p>
                            </div>
                        </li>
                        <li class="steps__timeline-item period">
                            <div class="steps__timeline-info"></div>
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h2 class="steps__timeline-title">Второй этап</h2>
                                <p class="steps__timeline-title-subtitle"> После проведения отделочных работ</p>
                            </div>
                        </li>
                        <li class="steps__timeline-item">
                            <!-- <div class="steps__timeline-info">
                                <span>April 02, 2016</span>
                            </div> -->
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h3 class="steps__timeline-title">Монтаж внутреннего блока</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                                    eu pede mollis pretium. Pellentesque ut neque. </p>
                            </div>
                        </li>
                        <li class="steps__timeline-item">
                            <!-- <div class="steps__timeline-info">
                                <span>April 28, 2016</span>
                            </div> -->
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h3 class="steps__timeline-title">Выполнение вакуумирования системы кондиционера</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                                    eu pede mollis pretium. Pellentesque ut neque. </p>
                            </div>
                        </li>
                        <li class="steps__timeline-item">
                            <!-- <div class="steps__timeline-info">
                                <span>Пусконаладочные работы и тестирование</span>
                            </div> -->
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h3 class="steps__timeline-title">Пусконаладочные работы и тестирование</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                                    eu pede mollis pretium. Pellentesque ut neque. </p>
                            </div>
                        </li>
                        <li class="steps__timeline-item">
                            <!-- <div class="steps__timeline-info">
                                <span>Пусконаладочные работы и тестирование</span>
                            </div> -->
                            <div class="steps__timeline-marker"></div>
                            <div class="steps__timeline-content">
                                <h3 class="steps__timeline-title">*Согласование уставновки в КГА</h3>
                                <p>При желании заказчика выполняем согласование установки кондиционера в КГА или управляющей компании </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            </div>
        </div>
    </div>
</section>