{{with .Site.Data.price_cond}}
{{if .enable}}
<section class="price" id="price_cond">
    <div class="price__header">
        <h2>{{.title}}</h2>
    </div>
    <div class="price__wrapper">
        <div class="col-md-6">
            {{ range .left}}
            <div class="price__item">
                <p class="price__item-text">{{.item}}
                </p>
                <div class="price__item-line"></div>
                <p class="price__item-value">{{.value}}</p>
            </div>
            {{end}}
        </div>

        <div class="col-md-6">
            {{ range .right}}
            <div class="price__item">
                <p class="price__item-text">{{.item}}
                </p>
                <div class="price__item-line"></div>
                <p class="price__item-value">{{.value}}</p>
            </div>
            {{end}}
        </div>
    </div>

    <hr class="price__hr">

    <div class="row price__info-wrapper">

    

    <div class="col-md-6">
        <h3>Что включено в стандартный монтаж</h3>
        <ol>
            <li>Длина трассы коммуникаций, связывающая внутренний и наружный блоки до 3 метров. Небольшое превышение не
                учитывается.</li>
            <li>Трасса проводится, открытым способом (без штробы), внутри помещения в пластиковом кабель канале до 0.5
                п.м.</li>
            <li>Установка наружного блока проводится без привлечения альпинистов и автовышек (за окном, балконом,
                лоджией или с лестницы).</li>
            <li>Трасса коммуникаций проходит через одну стену.</li>
            <li>Шнур электропитания длинной до 3 метров.</li>
            <li>В стоимость входят следующие расходные материалы:
                <ul>
                    <li>электропроводка+вилка</li>
                    <li>медный трубопровод</li>
                    <li>кабель канал 60 мм\60 мм. (короб) до 0.5 п.м.</li>
                    <li>кронштейн и крепеж наружного блока</li>
                    <li>крепежи внутреннего блока и трассы</li>
                </ul>
            </li>
        </ol>
    </div>



    <div class="col-md-6">
        <h3>Перечень услуг, входящих в сервисное обслуживание</h3>
        <ol>
            <li>Очистка испарителя внутреннего блока кондиционера</li>
            <li>Антибактериальная обработка внутреннего блока специальным составом</li>
            <li>Очистка теплообменника внешнего блока</li>
            <li>Очистка дренажной системы</li>
            <li>Проверка надежности и работоспособности электрических и слаботочных соединений</li>
            <li>Очистка воздушных фильтров внутреннего блока</li>
            <li>Проверка герметичности фреоновых трасс и вальцовочных соединений</li>
            <li>Если необходима дозаправка системы фреоном + 1500 руб.</li>
        </ol>
    </div>

    <div class="col-md-12">
        <h3>Согласование установки кондиционеров в КГА</h3>
        <p>
            Установка кондиционера на фасад здания, без сомнения, меняет его облик. Именно поэтому в соответствии с
            постановлением Правительства города Санкт-Петербурга "Об утверждении правил содержания и ремонта фасадов
            зданий и сооружений в Санкт-Петербурге" (№1135 от 14.09.2006 г.) необходимо согласование установки
            кондиционера. В противном случае на владельца кондиционера могут быть наложены штрафы и выдвинуто
            предписание демонтировать систему.
            Подробные требования описаны в п.4 постановления.
        </p>
        <p>
            ОБРАТИТЕ ВНИМАНИЕ!
            Для отверстий до 150 мм согласование не требуется (если здание не является объектом культурного наследия):
        </p>
        <p>
            4.3.7. Устройство систем кондиционирования и вентиляции без наружного блока с подачей воздуха через
            отверстие в стене диаметром до 0,15 м, скрытое заборной решеткой, допускается повсеместно (для объектов
            культурного наследия - по согласованию с КГИОП).
        </p>
        <p>
            Установка кондиционера согласовывается с Комитетом по градостроительству и архитектуре (КГА) и собственником
            здания (балансодержателем). Как правило, в качестве балансодержателей жилых домов выступают ТСЖ и ЖСК.
        </p>
        <p>
            Если же дом, в котором устанавливается кондиционер, относится к памятникам архитектуры, установку необходимо
            также согласовать с КГИОП.
        </p>
        <p>
            При этом следует учитывать, что не везде допустимо размещение наружных блоков систем кондиционирования,
            например:
        </p>
        <ul>
            <li>на поверхности лицевых фасадов;</li>
            <li>на дворовых фасадах, представляющих историко-культурную ценность (по заключению КГИОП);</li>
            <li>над пешеходными тротуарами;</li>
            <li>в оконных и дверных проемах с выступанием за плоскость фасада без использования маскирующих ограждений.
            </li>
        </ul>
        <p>
            Также, согласно п. 4.3.11 вышеуказанных правил не допускается размещение наружных блоков систем
            кондиционирования и вентиляции на архитектурных деталях, элементах декора, поверхностях с ценной
            архитектурной отделкой, а также их крепление, которое ведёт к повреждению архитектурных поверхностей.
        </p>
    </div>
</div>

</section>
{{end}}
{{end}}