{{with .Site.Data.price_vent}}
{{if .enable}}
<section class="price" id="price_vent">
    <div class="section-title price__header">
        <h2>{{.title}}</h2>
    </div>
    <div class="price__wrapper">
        <div class="col-md-6">
            {{ range .left}}
            <div class="price__item">
                <p class="price__item-text">{{.item}}
                </p>
                <div class="price__item-line"></div>
                <p class="price__item-value">{{.value}}</p>
            </div>
            {{end}}
        </div>


        <div class="col-md-6">
            {{ range .right}}
            <div class="price__item">
                <p class="price__item-text">{{.item}}
                </p>
                <div class="price__item-line"></div>
                <p class="price__item-value">{{.value}}</p>
            </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}
{{end}}