.footer {
  padding: 10px 0;
  background: #f7f8fc;
  @include desktop {
    padding: 10px 0;
    text-align: center;
  }

  @include tablet {
    text-align: center;
  }

  &-copyright-text {
    display: flex;
    justify-content: center;
    opacity: 0.5;

    @include desktop {
      justify-content: center;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: inline-block;
        padding-left: 20px;
        font-size: 16px;
        color: #000000;

        a {      
          transition: all 0.3s ease-in-out;
          color: #000000;
        }
      }
    }
  }

  li:hover > a {
    color: $primary-color;
  }
}
