{{define "main"}}
  {{ partial "hero.html" . }}
  <!-- 
  {{ partial "cta.html" . }}
  
  {{ partial "blogSection.html" . }}
  {{ partial "feedback.html" . }}
  {{ partial "pricing.html" . }} -->
  <!-- {{ partial "service.html" . }} -->
  {{ partial "service_vent.html" . }}
  {{ partial "service_cond.html" . }} 
  {{ partial "cond_calculation.html" }}
  {{ partial "gallery.html" . }}
  {{ partial "faq.html" . }}
  <!-- {{ partial "contactAddress.html" . }} -->
  {{ partial "order.html" . }}
  {{ partial "list.html" . }} 
{{end}}